/** header links customisation */

/*  Footer subscription */

.page-footer .footer.content .block {
  float: unset;
  border-bottom: 1px solid;
  max-width: 100%;
  padding-bottom: 20px;
  width: unset;
}

.page-footer .footer.content .block label {
  width: 220px;
}

.page-footer .footer.content .block .actions .action.subscribe {
  background: red;
  border: none;
  color: white;
  height: 32px;
  padding: 6px;
}

.copyright {
  font-size: 12px;
  font-weight: 500;
}

.page-footer .footer.content .block label {
  width: 100%;
}

/** Homepage Content customisation */

.cms-home #mageplaza-productslider-block-before-content-1 .mp-product-slider-block.block.widget.block-products-list.grid .mp-product-slider-title {
  margin: unset;
  text-align: left;
  -webkit-margin-before: unset;
  -webkit-margin-after: unset;
  -webkit-margin-start: unset;
  -webkit-margin-end: unset;
}

.cms-home #mageplaza-productslider-block-before-content-1 .block-content.mp-product-slider-content .products-grid.grid ol.product-items.widget-viewed-grid .owl-stage-outer .owl-item .product.name a {
  font-size: 18px;
}

.cms-home #mageplaza-productslider-block-before-content-1 .block-content.mp-product-slider-content .products-grid.grid ol.product-items.widget-viewed-grid .owl-stage-outer .owl-item .product.name a:hover {
  text-decoration: none;
}

.cms-home #mageplaza-productslider-block-before-content-1 .block-content.mp-product-slider-content .products-grid.grid ol.product-items.widget-viewed-grid .owl-stage-outer .owl-item:hover {
  transform: scale(1.05);
}

.cms-home #mageplaza-productslider-block-before-content-1 .block-content.mp-product-slider-content .products-grid.grid ol.product-items.widget-viewed-grid .product-item-actions .actions-primary + .actions-secondary {
  display: none;
}

.cms-home #mageplaza-productslider-block-before-content-1 .block-content.mp-product-slider-content .products-grid.grid ol.product-items.widget-viewed-grid .price-container .price {
  font-size: 22px;
}

.cms-home #mageplaza-productslider-block-before-content-1 .block-content.mp-product-slider-content .products-grid.grid ol.product-items.widget-viewed-grid button.action.tocart.primary {
  background: #FF7F7F;
  border: none;
  font-size: 16px;
}

.cms-home #mageplaza-productslider-block-before-content-1 .block-content.mp-product-slider-content .products-grid.grid ol.product-items.widget-viewed-grid .product-reviews-summary.short .reviews-actions a.action.view {
  color: #4d5f72;
  text-decoration: none;
  font-size: 14px;
}

.cms-home #mageplaza-productslider-block-before-content-1 .block-content.mp-product-slider-content .products-grid.grid ol.product-items.widget-viewed-grid .product-reviews-summary.short .reviews-actions a.action.view:hover {
  color: #ff5501;
}

.cms-home .widget .block-title strong {
  font-size: 3.8rem;
  font-weight: 500;
}

.cms-home .products-grid .product-item-info .product-reviews-summary.short .reviews-actions a.action.view {
  color: #4d5f72;
  text-decoration: none;
  font-size: 14px;
}

.cms-home .products-grid .product-item-info .product-reviews-summary.short .reviews-actions a.action.view:hover {
  color: #ff5501;
}

.cms-home .products-grid .product-item-info button.action.tocart.primary {
  background: #FF7F7F;
  border: none;
  font-size: 16px;
}

.cms-home .products-grid .product-item-info .product-item-actions .actions-primary + .actions-secondary {
  display: none;
}

.cms-home .products-grid .product-item-info .price-box .price {
  font-size: 22px;
}

.cms-home .products-grid .product-item-info .product-item-name a {
  font-size: 18px;
}

.cms-home .products-grid .product-item-info .product-item-name a:hover {
  text-decoration: none;
}

.cms-home .products-grid .product-item-info:hover {
  border: none;
  box-shadow: none;
  transform: scale(1.05);
}

.cms-no-route .page-main p {
  font-size: 14px;
}

@media (max-width: 767px){
.page-footer .footer.content .block {
  border-bottom: unset;
}

.cms-home #mageplaza-productslider-block-before-content-1 .mp-product-slider-block.block.widget.block-products-list.grid .mp-product-slider-title {
  font-size: 28px;
  font-weight: 400;
}

.cms-home .widget .block-title strong {
  font-size: 28px;
  font-weight: 400;
}
}

